<div class="row text-center">
  <div class="col-md-12">
    <div *ngIf="errorLoading" class="alert alert-danger alert-dismissible fade show" style="text-align: center;">
      <span>An Error Occured while Loading the calls ... Check Connection</span>
    </div>
    <div *ngIf="errorDelete" class="alert alert-danger alert-dismissible fade show" style="text-align: center;">
      <span>An Error Occured while Deleting the call ... Check Connection</span>
    </div>
    <div *ngIf="showDeleteAlert" class="alert alert-success alert-dismissible fade show" style="text-align: center;">
      <span>Call Deleted Successfully</span>
    </div>
    <div *ngIf="(showAlert && !errorUpdateCall)" class="alert alert-primary alert-dismissible fade show" style="text-align: center;">
      <span>Call Updated Successfully</span>
    </div>
    <div *ngIf="errorUpdateCall" class="alert alert-danger alert-dismissible fade show" style="text-align: center;">
      <span>An Error Occured while Updating the call ... Check Connection</span>
    </div>
    <div *ngIf="errorExport" class="alert alert-danger alert-dismissible fade show" style="text-align: center;">
      <span>An Error Occured while Exporting the calls ... Check Connection</span>
    </div>

    <div class="card">
      <div class="card-header" style="text-align: left; display: grid; grid-template-columns: 1fr auto;">
        <h4 class="card-title" style="margin-right: 25px;">List of All Available Calls   </h4>
          
        <div style="display: flex; justify-content: flex-end;">
          <input type="text"  placeholder="Search Calls" [(ngModel)]="searchText" (input)="filterItems()" class="search-container"/>
        
          
          
          <button *ngIf="isAdmin" style="width: 200px; margin-right: 10px;" (click)="exportCalls()">Export Calls</button>
          <button *ngIf="isAdmin" style="width: 200px; background-color: #ef8157;" (click)="deleteAllModal()">Delete All Calls</button>
        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <th (click)="sortItems('issuer')">Issuer/Producer</th>
              <th (click)="sortItems('target')">Target/Consumer</th>
              <th (click)="sortItems('type')">Type</th>
              <th (click)="sortItems('topic')">Topic</th>
              <th (click)="sortItems('eventProduced')">Event Produced</th>
              <th (click)="sortItems('api')">API</th>
              <th (click)="sortItems('description')">Description</th>
              <th>Actions</th>
            </thead>
            <tbody>
              <tr *ngFor="let call of calls">
                <td *ngIf="call.issuer; else noIssuer">{{call.issuer}}</td>
                <td *ngIf="call.target; else noTarget" style="padding-left: 10px;">{{call.target}}</td>
                <td *ngIf="call.type; else noType">{{call.type}}</td>
                <td *ngIf="call.topic; else noTopic">{{call.topic}}</td>
                <td *ngIf="call.eventProduced; else noEventProduced">{{call.eventProduced}}</td>
                <td *ngIf="call.api; else noApi">{{call.api}}</td>
                <td *ngIf="call.description; else noDescription">{{call.description}}</td>
                <td>
                  <button *ngIf="isAdmin" type="button" class="btn btn-danger btn-round" style="background-color: #ef8157; width: auto;" (click)="deleteModal(call.id)">Delete</button>
                </td>
                <td>
                  <button *ngIf="isAdmin" type="button" class="btn btn-primary btn-round" (click)="updateModel(call.id, call.type, call.api, call.topic, call.eventProduced, call.description)">Update</button>
                </td>
              </tr>
              <ng-template #noIssuer><td>-</td></ng-template>
              <ng-template #noTarget><td>-</td></ng-template>
              <ng-template #noType><td>-</td></ng-template>
              <ng-template #noTopic><td>-</ng-template>
              <ng-template #noEventProduced><td>-</ng-template>
              <ng-template #noApi><td>-</ng-template>
              <ng-template #noDescription><td>-</ng-template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete Call Modal -->
<div id="id01" class="modal">
  <form class="modal-content">
    <div class="container">
      <h1>Delete Call</h1>
      <p>Are you sure you want to delete this call?</p>
      <div>
        <button class="btn btn-primary btn-round" type="button" onclick="document.getElementById('id01').style.display='none'">Cancel</button>
        <button class="btn btn-danger btn-round" type="button" (click)="deleteCall()">Delete</button>
      </div>
    </div>
  </form>
</div>

<!-- Delete All Calls Modal -->
<div id="deleteAllModal" class="modal">
  <form class="modal-content">
    <div class="container">
      <h1>Delete All Calls</h1>
      <p>Are you sure you want to delete all the calls?</p>
      <div>
        <button class="btn btn-primary btn-round" type="button" onclick="document.getElementById('deleteAllModal').style.display='none'">Cancel</button>
        <button class="btn btn-danger btn-round" type="button" (click)="deleteAll()">Delete</button>
      </div>
    </div>
  </form>
</div>

<!-- Update Call Modal -->
<div id="updateModel" class="row" style="display:none; position: fixed; bottom: 10%; left: 25%; width: 80%;">
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Update Call</h5>
      </div>
      <div class="card-body">
        <form #updateForm="ngForm" (ngSubmit)="updateCall()">
          <div class="row">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Call Type</label>
                <select id="type" name="type" class="form-control" [(ngModel)]="type">
                  <option value="sync">Synchronous</option>
                  <option value="async">Asynchronous</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="type === 'async'">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Topic</label>
                <input type="text" class="form-control" placeholder="Topic" name="topic" [(ngModel)]="topic">
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Event Produced</label>
                <input type="text" class="form-control" placeholder="Event Produced" name="eventProduced" [(ngModel)]="eventProduced">
              </div>
            </div>
          </div>
          <div class="row" *ngIf="type === 'sync'">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>API</label>
                <input type="text" class="form-control" placeholder="API" name="api" [(ngModel)]="api">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control textarea" placeholder="Call Description" name="description" [(ngModel)]="description"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round" [disabled]="updateForm.invalid" style="width: 200px; margin-right: 10px;">Update</button>
              <button type="button" class="btn btn-danger btn-round" onclick="document.getElementById('updateModel').style.display='none';" style="background-color: #ef8157; width: 200px;">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
